@primary-color: #3278fb;
@warning-color: #ff7920;
@success-color: #15da4d;
@danger-color: #ed283b;
@normal-color: #2b74fb;
@text-main-color: #333333;
@text-sub-color: #999999;
@dialog-button-text-primary-color: @primary-color;
@button-global-border-radius: 10px;
@button-primary-bg-color: @primary-color;
@button-primary-active-bg-color: @primary-color;
@button-global-font-size: 32px;
@button-global-height: 84px;